/*https://colorhunt.co/palette/ea5c2bff7f3ff6d86095cd41*/
/*https://colorhunt.co/palette/f76e11ff9f45ffbc80fc4f4f*/
body{
    background-color: #FF9F45;
}
header{
    background-color: #F76E11;
    color: #FFBC80;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
form{
    display: flex;
    flex-direction: row;
    margin-left: 23%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 2%;
}
fieldset{
    border-color: #F76E11 ;
    color:#593821;
    margin: 20px;
    width: 50%;
}
fieldset:nth-of-type(1){
    padding-top: 13%;
}
fieldset:nth-of-type(2){
    padding-top: 13%;
    margin-bottom: 50px;
}
p{
    text-align: center;
}
p>input{
    display: block;
    margin-left: 14%;
}
input:focus{
    background: #FFBC80;
  }
ul>li{
    list-style: none;
}
div{
    display: flex;
    flex-direction: row;
}
#botones{
   position: absolute;
   top: 800px;
   left: 44%;
}
#volver{
    padding: 15px;
    border: #593821 solid 1px;
    background-color: #F76E11;
    border-radius: 10px;
    text-decoration: none;
    color: #FFBC80;
    margin-top: 10px;
}
#volver:hover{
    padding: 18px;
    background-color: #FFBC80;
    border-radius: 15px;
    color: #F76E11;
}
@media (max-width: 1400px){
    @keyframes fake {
        from {
            opacity: 1;
        }
        to {
            opactity: 1
        }
      }
    form{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
    fieldset{
        margin: 10px;
        width: 50%;
    }
    #botones{
        position: absolute;
        top: 635px;
        left: 44%;
     }
}

@media (max-width: 1000px){
    @keyframes fake {
        from {
            opacity: 1;
        }
        to {
            opactity: 1
        }
      }
    form{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 0.5%;  
    }
}

/*controlar 800*/
@media (max-width: 865px){
    @keyframes fake {
        from {
            opacity: 1;
        }
        to {
            opactity: 1
        }
      }
    form{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 0.8%;
        margin-bottom: 0.3%;
    }
    fieldset{
        margin: 10px;
        width: 45%;
    }
    p>input{
        margin-left: 4%;
    }
}

@media (max-width: 650px){
    @keyframes fake {
        from {
            opacity: 1;
        }
        to {
            opactity: 1
        }
      }
    form{
        margin-left: 8%;
        margin-right: 2.5%;
        margin-top: 0.5%;
        margin-bottom: 0.50%;
    }
    fieldset{
        border-color: #F76E11 ;
        color:#593821;
        width: 110%;
        padding-left: 12%;
        margin-left: 12%;
    }
    fieldset:nth-of-type(1),fieldset:nth-of-type(2){
        padding-top: 10%;
    }
    p>input{
        margin-left: 26%;
    }
    div{
        flex-direction: column;
    }
    #botones{
        position: absolute;
        top:  1070px;
        left: 44%;
    }
    fieldset:nth-of-type(3){
        padding-bottom: 10px;
        margin-bottom: 65px;
    }
}
@media (max-width: 500px){
    @keyframes fake {
        from {
            opacity: 1;
        }
        to {
            opactity: 1
        }
      }
    form{
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 0.5%;
        margin-bottom: 0.25%;
    }
    fieldset{
        border-color: #F76E11 ;
        color:#593821;
        width: 100%;
    }
    fieldset:nth-of-type(1),fieldset:nth-of-type(2){
        padding-top: 13%;
    }
    div{
        flex-direction: column;
    }
    #botones{
        position: absolute;
        top:  1095px;
        left: 44%;
    }
    
}


